<div>
  <div class="puan-durumu">
    <p-table
      [columns]="cols"
      [value]="teams"
      sortMode="multiple"
      [multiSortMeta]="[
        { field: 'puan', order: -1 },
        { field: 'avaraj', order: -1 },
        { field: 'takim', order: 1 }
      ]"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Sıra</th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr>
          <td>{{ rowIndex + 1 }}.</td>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="haftanin-maclari">
    <p-table>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ week / 2 + 1 }}. Haftanın Maçları</th>
        </tr>
        <tr>
          {{ matchesOfWeek[week] }}
        </tr>
        <tr>
          {{ matchesOfWeek[week + 1] }}
        </tr>
      </ng-template>
    </p-table>
    <p-button label="Back" (onClick)="funcBack()"></p-button>
    <p-button label="Next" (onClick)="funcNext()"></p-button>
  </div>
</div>


<!-- <div *ngIf="table$ | async as p">
  <h2>{{p.takim}}</h2>
  <h4>{{p.oynananMac}}</h4>

  <button (click)="nextWeek()">next</button>
  <button (click)="resetTable2()">reset</button>


</div> -->